<br><br>
<div id="carousel" class="container-fluid carousel slide" data-ride="carousel" max-width="100%">
   
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag('slickstart.jpg', style: 'height: auto') %>     
      </div>
 
<div class="item">
        <%= image_tag('examples.png', style: 'height: auto') %>     
      </div>

      <div class="item">
        <%= image_tag('hiretoday2.png', style: 'height: auto') %>     
      </div>
    </div>

</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>What We Do</h2><br>
      <h4>SlickRails develops websites using Ruby on Rails, Bootstrap, and other frameworks to quickly get your project up and running. Our websites are specially designed to fit your needs.</h4><br>
      
<div class="col-sm-4">
      <p>Follow Us:</p>
	<center><a href="https://www.facebook.com/slickrails/" target="_blank"><%= image_tag('facebook.png', class: 'img-responsive img-circle', style: 'height: 50px; width: 50px')%></a></center>
</div>

<div class="col-sm-4">
<br><br><br>
<a href="#contact" class="btn btn-default" role="button">Get in Touch</a>
</div>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> To give your services the modern and unique design it deserves.</h4><br>
      <h4><strong>VISION:</strong> Our vision is to develop trusted and affordable websites to all.</h4>
    </div>
  </div>
</div>

<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-th"></span>
      <font color="#d1256a"><h4>MULTI-PAGE WEBSITE</h4></font>
	<div class="panel-footer"><p><strong>Initial Start Cost: $150</strong></p>
	<font color="#d1256a"><p><strong>Yearly: $50</strong></font> 		after the first year.</p>	
</div>
      <p><strong>A dynamic 5 page business website</strong> that will showcase your services and promote your business.</p>
	<div class="panel-footer">
	<p><strong>Includes your own domain</strong>, hosting, and 5 hours to build initial custom website.</p>
	<p><i>*Starting cost includes 1 year of hosting. If changes are required, programming costs are $25 per hour.</i></p>
</div>
    </div>

    <div class="col-sm-4">
      <span class="glyphicon glyphicon-briefcase"></span>
      <font color="#d18227"><h4>SINGLE PAGE WEBSITE</h4></font>
	<div class="panel-footer"><p><strong>Initial Start Cost: $125</strong></p>
	<font color="#d18227">
	<p><strong>Yearly: $40</strong></font>
	after the first year.</p>

</div>
      <p><strong>A single page business website</strong> that highlights your business services and professional experience.</p>
	<div class="panel-footer">
	<p><strong>Includes your own domain</strong>, hosting, and 5 hours to build initial custom website.</p>
	<p><i>*Starting cost includes 1 year of hosting. If changes are required, programming costs are $25 per hour.</i></p>
</div>
    </div>
    
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-user"></span>
      <font color="#25d1a8"><h4>LANDING PAGE WEBSITE</h4></font>
	<div class="panel-footer"><p><strong>Initial Start Cost: $80</strong></p>
	<font color="#25d1a8">	
	<p><strong>Yearly: $30</strong></font>
	after the first year.</p>
</div>
      <p><strong>Single cross-platform page</strong> to showcase your professional qualifications.</p>
	<div class="panel-footer">
	<p><strong>Includes your own domain</strong>, hosting, and 4 hours to build initial custom website.</p>
	<p><i>*Starting cost includes 1 year of hosting. If changes are required, programming costs are $25 per hour.</i></p>
</div>
    </div>

  </div>
</div>

<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>What we have created</h4>
<div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
 	<center><a href="http://seayeticharters.herokuapp.com/" target="_blank"><%= image_tag('seayeti.png', style: 'height: 200px; width: auto')%></a></center>
	<p><strong>Single Page Business Site</strong></p>
        <a aria-label="Fork me on GitHub" data-style="mega" href="https://github.com/SlickRailsDevelopment/seayeticharters" class="github-button">Fork me on Github</a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
 	<center><a href="http://www.rpmoftexas.com" target="_blank"><%= image_tag('barriga.png', style: 'height: 200px; width: auto')%></a></center>
	<p><strong>Multi-Page Business Site</strong></p>
        <a aria-label="Fork me on GitHub" data-style="mega" href="https://github.com/SlickRailsDevelopment/barrigabiz" class="github-button">Fork me on Github</a>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
 	<center><a href="http://www.devinslick.com" target="_blank"><%= image_tag('devinslick.png', style: 'height: 200px; width: auto')%></a></center>
	<p><strong>Professional Landing Page</strong></p>
        <a aria-label="Fork me on GitHub" data-style="mega" href="https://github.com/SlickRailsDevelopment/devinslick" class="github-button">Fork me on Github</a>
      </div>
    </div>

    <div class="col-sm-4">
      
    </div>
  </div><br>

<div id="contact" class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center">CONTACT</h2>
      <p  class="text-center">Like what you see? Then contact us today!</p>
      <p  class="text-center"><span class="glyphicon glyphicon-phone"></span> <a href="tel:+12142678224">214.267.8224</a></p>
      <p  class="text-center"><span class="glyphicon glyphicon-envelope"></span> <a target="_blank" href="mailto:development@slickrails.com">development@slickrails.com</a></p>
    </div>  
   </div>
</div>
</div>
